@font-face {
    font-family: 'Aileron';
    font-weight: 200;
    src: url('../fonts/Aileron-UltraLight.otf');
}

@font-face {
    font-family: 'Aileron';
    font-weight: 300;
    src: url('../fonts/Aileron-Thin.otf');
}

@font-face {
    font-family: 'Aileron';
    font-weight: 400;
    src: url('../fonts/Aileron-Light.otf');
}

@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-Regular.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'Aileron';
    font-weight: 600;
    src: url('../fonts/Aileron-SemiBold.otf');
}

@font-face {
    font-family: 'Aileron';
    font-weight: 700;
    src: url('../fonts/Aileron-Bold.otf');
}

@font-face {
    font-family: 'Nexa Text';
    font-weight: 400;
    src: url('../fonts/NexaText-Trial-Regular.ttf');
}

@font-face {
    font-family: 'Nexa Text';
    font-weight: 700;
    src: url('../fonts/NexaText-Trial-Bold.ttf');
}

@font-face {
    font-family: 'Dogica';
    src: url('../fonts/dogica.otf');
}

