* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    margin: 1rem;
}

.project-template {
    grid-template-areas: 
        "header header"
        "projects projects"
        "footer footer"
    ;
}

.showcase-template {
    grid-template-areas: 
        "header header"
        "content content"
        "footer footer"
    ;
}

.container > div.header {
    grid-area: header;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "logo work info";
    gap: 1rem;
    margin-bottom: 4rem;
}

.container > div.header > div.logo {
    grid-area: logo;
}

.container > div.header > div.work {
    grid-area: work;
}

.container > div.header > div.info {
    grid-area: info;
    justify-self: end;
}

.container > div.projects {
    grid-area: projects;
    grid-column: 2 / span 1;
}

.container > div.projects .project-nametag {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-bottom: 3.4rem;
}

/* Showcase Content Stuff */

.container > div.content {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    grid-template-areas: 
        "showcase-header showcase-header"
        "sidebar showcase-body"
    ;
    margin-bottom: 0;
}

.container > div.content > div.showcase-header {
    grid-area: showcase-header;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30vh;
    margin-bottom: 4rem;
    justify-content: flex-end;
}

.container > div.content > div.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-bottom: 4rem;
}

.container > div.content > div.showcase-body {
    grid-area: showcase-body;
    display: flex;
    flex-direction:column;
    padding-right: 7rem;
    margin-top: 7rem;
    margin-bottom: 7rem;
}

div.contact {
    margin-top: 14rem;
}

.container > div.footer {
    grid-area: footer;
    margin-top: 3rem;
    padding-bottom: 0;
}


@media (max-width: 54rem) {
    .container {
        grid-template-columns: 1fr 2fr;
        padding-bottom: 3rem;
    }

    .project-template {
        grid-template-areas: 
            "header header"
            "home home"
            "projects projects"
            "footer footer"
        ;
    }

    .showcase-template {
        grid-template-areas: 
            "header header"
            "content content"
            "footer footer"
        ;
    }

    .about-template {
        grid-template-areas: 
            "header header"
            "about about"
            "fun-facts fun-facts"
            "contact contact"
        ;
    }

    .container > div.header {
        grid-template-columns: 7fr 1fr 1fr;
        grid-template-areas: 
            "logo work info"
        ;
        margin-right: 0rem;
        column-gap: 1.5rem;
    }

    .container > div.home {
        grid-column: 1 / span 2;
    }

    .container > div.projects {
        grid-column: 1 / span 2;
        margin-top: 34vw;
    }

    .container > div.projects .project-nametag {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
    }

    .container > div.content {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "showcase-header"
            "sidebar"
            "showcase-body"
        ;
    }

    .container > div.footer {
        justify-content: end;
        display: flex;
        justify-content: flex-end;
    }

    h1.borins {
        font-size: 3.5rem;
    }

    h1.pollenpal {
        font-size: 3.5rem;
        letter-spacing: -.1rem;
    }

    h1.hudabes {
        font-size: 3rem;
        margin-top: 2rem;
        margin-left: -.4rem;
        padding: 0;
        letter-spacing: -.7rem;
    }

    .link-arrow {
    transform: translateY(-0.04rem);
}

}